@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Montserrat:400,600');


/*    font-family: 'Monserrat', sans-serif;    plain
      font-family: 'Dancing Script', cursive;  script  */


* {
  margin:0;
  padding:0;
  font-family:sans-serif;
  line-height:130%;
}

/*
Colors
rust: #af7b6d
tan: #bba69a
grey: #939eab accent
light grey: #c0c6d9
light blue: #82a0bf  accent
off white: #f7f7f7
*/

/*        Nav Bar           */

nav {
  height:300px;
  width:100%;
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
  justify-content: space-between;
  position:relative;
}

.navtext {
  height:300px;
  width:100%;
  display:flex;
  flex-direction:column;
  box-sizing:border-box;
  justify-content: space-between;
  position:absolute;
  z-index:500;
}

.navtext fieldset {
  width:500px;
  height:40%;
  margin:auto;
  border:2px solid #f7f7f7;
  border-radius:5px;
}

.navtext fieldset legend {
  font-family: 'Dancing Script', cursive;
  font-size:2em;
  margin-left:.25em;
  padding-left:.1em;
  padding-right:.2em;
  color:#f7f7f7;
}

.navtext fieldset p {
  text-align: center;
  font-size:4em;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  color:#f7f7f7;
}

nav .navtext ul {
  display:flex;
  justify-content: flex-end;
  align-items:center;
  list-style:none;
  height:13%;
  background-color:rgba(192,198,217,.4);
  box-sizing:border-box;
  padding-right:20px;
}

nav .navtext ul li {
  margin:1.5em;
  color:#f7f7f7;
  font-size:1.2em;
}

.navbackground {
  width:100%;
  height:300px;
  position:absolute;
  background-size:cover;
  animation-name:fade;
  animation-duration:25s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-delay:0s;
}

.img1 {
  background-image:url("images/nav1.jpg");
  animation-delay:-25s;
}

.img2 {
  background-image:url("images/nav2.jpg");
  animation-delay:-20s;
}

.img3 {
  background-image:url("images/nav3.jpg");
  animation-delay:-15s;
}

.img4 {
  background-image:url("images/nav4.jpg");
  animation-delay:-10s;
}

.img5 {
  background-image:url("images/marseille.jpg");
  animation-delay:-5s;
}

@keyframes fade {
  0%{
    opacity: 1
  }
  15%{
    opacity: 1
  }
  20% {
    opacity: 0
  }
  95%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}

a:link {
  text-decoration:none;
  color:#f7f7f7;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
}

a:hover {
  font-size:1.05em;
  border:1px solid #939eab;
  border-radius:5px;
}


/*        Footer        */

.footer {
  width:100%;
  height:100px;
  background-color:#c0c6d9;
  display:flex;
  justify-content:center;
  align-items:center;
}

.footer form {
  text-align:center;
  line-height:220%;
}

.footer form label input {
  box-sizing:border-box;
  padding:2px;
  font-family:'Montserrat', sans-serif;
}

.footer form button {
  border-radius:2px;
  box-sizing:border-box;
  padding:3px;
  font-family:'Montserrat', sans-serif;
  font-weight:600;
  color:#939eab;
  background-color:#f7f7f7;
}

.footer form label p {
  font-family: 'Dancing Script', cursive;
  font-size:1.3em;
  font-weight:700;
  color:#f7f7f7;
}

/*        Home Page Body        */

.body {
  width:100%;
  height:800px;
  background-color:#c0c6d9;
  display:flex;
}

.mainblog {
  height:800px;
  width:70%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.blog {
  height:200px;
  width:80%;
/*  max-width:600px;*/
  background-color:#939eab;
  margin-bottom:2em;
  border-radius:3px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;
  padding:1em;
}

.image {
  width:150px;
  height:175px;
  margin-right:1em;
  border-radius:2px;
}

.info h1 {
  font-family: 'Dancing Script', cursive;
  font-weight:700;
  font-size:2em;
  text-align:center;
  margin-bottom:1em;
  color:#f7f7f7;
}

.info p {
  font-family: 'Monserrat', sans-serif;
  font-weight:400;
  font-size:1em;
  text-align:center;
  margin-top:-.5em;
}

.mainsocial {
  height:800px;
  width:30%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  box-sizing:border-box;
  padding-top:15px;
}

.social {
  height:325px;
  width:80%;
  background-color:#82a0bf;
  margin-bottom:2em;
  border-radius:3px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  box-sizing:border-box;
  padding-left:1em;
  padding-right:1em;
}

.social h2 {
  font-family: 'Monserrat', sans-serif;
  font-weight:600;
  font-size:1.4em;
  text-align: center;
  color:#f7f7f7;
  margin-bottom:-.7em;
}

.social p {
  font-family: 'Monserrat', sans-serif;
  font-weight:400;
  font-size:1em;
  text-align:center;
  margin-top:-1em;
}

/*        Culture Page Body     */

.culture {
  background-color:#af7b6d;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  box-sizing:border-box;
  padding-top:1em;
}

.attraction {
  height:250px;
  width:80%;
  margin:2em;
  background-color:rgba(192,198,217,.6);
  border-radius:3px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;
  padding:1em;
}

/*        Nature Page Body      */

.nature {
  background-color:#bba69a;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  
}

.natural {
  height:250px;
  width:80%;
  margin:2em;
  background-color:rgba(175,123,109,.6);
  border-radius:3px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  box-sizing: border-box;
  padding:1em;
}
